config ADC
	bool "Enable ADC drivers using Driver Model"
	help
	  This enables ADC API for drivers, which allows driving ADC features
	  by single and multi-channel methods for:
	  - start/stop/get data for conversion of a single-channel selected by
	    a number or multi-channels selected by a bitmask
	  - get data mask (ADC resolution)
	  ADC reference Voltage supply options:
	  - methods for get Vdd/Vss reference Voltage values with polarity
	  - support supply's phandle with auto-enable
	  - supply polarity setting in fdt

config SARADC_ROCKCHIP
	bool "Enable Rockchip SARADC driver"
	help
	  This enables driver for Rockchip SARADC.
	  It provides:
	  - 2~6 analog input channels
	  - 1O or 12 bits resolution
	  - Up to 1MSPS of sample rate
