menu "Bare Device Drivers"

config BAREMETAL_OS
    bool "Baremetal OS Enable"
    default y
    help
      Enable Baremetal OS drivers.

if BAREMETAL_OS

config BAREMETAL_REG_DEBUG
    int "Enable register print debug"
    default 0
    help
      Enable baremetal OS registers print.
config BAREMETAL_LOGLEVEL
    int "Baremetal LOG level."
    default 3
    help
      print log level(0=off,1=error, 2=warn, 3=info, 4=debug).


source "bare_drivers/hello/Kconfig"

source "bare_drivers/leds/Kconfig"

endif

endmenu
